<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Profile
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-avatar (click)="selectImageSource()" class="profile">
    <ion-img [src]="(myStoredProfileImage | async)?.image_src"></ion-img>
  </ion-avatar>

  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Ayu
      </ion-card-title>
    </ion-card-header>

    <ion-card-content>
      THe great
    </ion-card-content>
  </ion-card>
</ion-content>
